* text=auto

# Keep release dists to what an application actually consumes: src, config,
# the license and the docs. Everything below is development-only.
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml        export-ignore
/tests              export-ignore
