<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
            <!-- Abstract base class, loaded through the autoload-dev classmap. -->
            <exclude>./tests/Middleware/MiddlewareTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>
